
{% block contenidoIzquierda %}
     <h2>Listado Completo</h2>
    <div id="list">

        {% for libro in libros %}
            <ul id="livre" >
                <img src="../View/img/{{libro.libro.imagen}}" width="150" height="250">              

                <p><b>ISBN:</b>{{libro.libro.isbn}}</p>
                <p><b>Autor:</b> {{libro.libro.autor}} </p>
                <p><b>Titulo:</b> {{libro.libro.titulo}}</p>
                <p><b>Categoria:</b> {{libro.libro.tipo}}</p>
                <p> 
                <div class="descripcion"> <b>Descripcion:</b> {{libro.libro.descripcion}}
                    <br><br>
                    <b>Comentarios de miembros :</b><br><hr>
                    {% for comment in libro.comment %}
                        <div>
                            <ul>
                               <button id="dialog-confi" class="ca-close" onclick="borra({{comment.idCom}})" >borrar</i></button>
                                <p>{{comment.comment}}</p><hr>
                            </ul>
                        </div>
                    {% endfor %}   

                
                <br><br>

                <div id="">

                    <form action="../Controller/grabaComments.php"  enctype="multipart/form-data" method="POST" ID="formAnadir">
                        <h4>Añadir Comentario</h4>
                        <br>
                        <h5>Comentario :</h5> <br>

                        <textarea name="comment" cols="100" rows="4">
                        </textarea>
                        <br>
                        <input name="isbn" type="hidden" value={{libro.libro.isbn}}>
                        <input type="submit" value="Submit" id="sub">
                    </form>


                </div>  
                        </div>
                        <br><br>
            </ul>
        {% endfor %}

    </div>

    <script type="text/javascript" src="../View/js/jqueryAjax.js"></script>

{% endblock %}